<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>글쓰기</title>
    <link rel="stylesheet" href="../static/css/show.css">
  </head>
  <body>
     <!-- 뒤로가기 버튼 -->
        <a href="index.html" class="back-button">
          <img src="../static/images/back.png" alt="뒤로가기 아이콘" />
        </a>
      <div class="write-post-container">
      
        <!-- 페이지 상단 타이틀 -->
        <header class="write-post-header">
          <h1>글쓰기</h1>
        </header>

      <!-- 텍스트 입력 영역 -->
      <main class="content-editor"> 
        <textarea 
          placeholder="내용을 작성해주세요." 
          class="post-textarea"
        ></textarea>
      </main>

      <!-- 이미지 업로드 버튼&여러 이미지 선택 가능 -->
      <div class="image-upload-button">
        <label for="imageUpload" class="imageupload-label">
          <img src="../static/images/borad_upload.png" alt="이미지 추가 아이콘" />
        </label>
        <input type="file" id="imageUpload" accept="image/*" hidden multiple /> 
      </div>
      <!-- 게시글 등록 버튼 -->
      <div class="submit-button">
        <button>등록</button>
      </div>
      <script src="../static/js/show.js"></script> 
  </body>
</html>