<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>통합페이지</title>
    <link rel="stylesheet" href="../static/css/mainpage.css"> 
</head>
<body>
    <!-- 상단 바 (카테고리&언어변경) -->
    <div class="top-bar">
     <button class="menu-btn" onclick="toggleSidebar()">☰</button>
     <div class="top-right">
        <select class="language-select">
          <option>Language</option>
          <option value="ko">한국어</option>
          <option value="en">English</option>
          <option value="ja">日本語</option>
          <option value="zh">中文</option>
        </select>
        </div>
    </div>
    <!-- 상단 좌측 사이드바(열기) -->
    <div id="sidebar" class="sidebar hidden">
      <button class="close-btn" onclick="toggleSidebar()">✕</button>
      <!-- 사이드바 사이트 이동 -->
      <div class="sidebar-grid">
        <div class="sidebar-item">
          <img src="../static/images/home.png" class="menu-icon" />
          <span>Home</span>
        </div>
        <div class="sidebar-item">
          <img src="../static/images/reservation.png" class="menu-icon" />
          <span>Reservation</span>
        </div>
        <div class="sidebar-item">
          <img src="../static/images/foodai.png" class="menu-icon" />
          <span>Food AI</span>
        </div>
        <div class="sidebar-item">
          <img src="../static/images/album.png" class="menu-icon" />
          <span>Album</span>
        </div>
        <div class="sidebar-item">
          <img src="../static/images/map.png" class="menu-icon" />
          <span>Map</span>
        </div>
        <div class="sidebar-item">
          <img src="../static/images/community.png" class="menu-icon" />
          <span>Community</span>
        </div>
      </div>

      <!-- 사이드바 랜드마크 이동-->
      <div class="sidebar-grid landmark-list">
        <div class="sidebar-item">
          <a href="../landmarks/gyeongbokgung.html"> 
            <img src="../static/images/ogyeongbokgung.png" class="landmark-img" />
          </a>
          <span>경복궁</span>
        </div>
        <div class="sidebar-item">
          <a href="../landmarks/namsan.html">
            <img src="../static/images/onamsan.png" class="landmark-img" />
          </a>
          <span>남산</span>
        </div>
        <div class="sidebar-item">
          <a href="../landmarks/yisunshin.html">
            <img src="../static/images/oyisunshin.png" class="landmark-img" />
          </a>
          <span>이순신 장군 동상</span>
        </div>
        <div class="sidebar-item">
          <a href="../landmarks/bukchon.html">
            <img src="../static/images/obukchon.png" class="landmark-img" />
          </a>
          <span>북촌 한옥 마을</span>
        </div>
      </div>
    </div>

    <!-- 이달의 추천 명소 사진 이후 모바일에서 확인-->
     <h1 style="text-align: center;">이 달의 추천 명소</h1>
     <div class="scroll-container">
        <img src="../static/images/scrollpic1.jpg" alt="image 1">
        <img src="../static/images/scrollpic2.jpg" alt="image 2">
        <img src="../static/images/scrollpic1.jpg" alt="image 1">
        <img src="../static/images/scrollpic2.jpg" alt="image 2">
     </div>
    <!-- 공지사항(미리보기) -->
     <h1 style="text-align: center;">공지사항</h1>
     <!-- 커뮤니티(미리보기) -->
    <script src="../static/js/sidebar.js"></script>
</body>
</html>